@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Playfair+Display&family=Raleway:wght@100&display=swap');

.bodycontent {

	
	height: 2320px;
	background: black;	
}

.logo_nav {

	min-height: 50px;
	padding: 40px 60px 40px 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.navlist li { 

display: inline;
margin-right: 10px;

 }

 .navlist a {

color: white;

 }

 .icons li {

display: inline;
margin-right: 6px;

 }

 #news {

 	color: #A37846;
 	
 }

 #lang {

 	color: white;
 	position: relative;
    bottom: 5px;
 }

 #part {

	position: relative;
    right: 5px;

 }

 #search {
 	position: relative;
    bottom: 3px;
 }

.headwindow { 

max-width: 1320px;
max-height: 56px;
background-color: white;
margin: auto;
border-radius: 10px;
border: 0.1px solid white;
box-sizing: border-box;
position: relative;


 }

 .currency {

 	width: 134px;
 	height: 20px;
 	padding: 20px;
 	display: flex;
 	flex-direction: row;
 	justify-content: space space-between;
 }

 .currencylist {

 	padding-right: 13px;
 }

.currencylist li {

	display: inline;
	color: black;

}

.text_switcher { 

position: absolute;
width: 290px;
height: 5px;
left: 1019px;
bottom: 28px;


 }

 .switcher li {

 	display:  inline;
 	margin-right: 5px;
 	color: #9CA1A9;

 }

 .switcher {

 	margin: -10px;
 }

 #circle2 {

 	position: relative;
    right: 50px;
    bottom: -2px;

 }

 #rectangle {

 	position: relative;
 	top: 4px;
 }


.mainsection {

max-width: 1320px;
height: 1310px;
margin-top: 40px;
background: #F2F2F2;
border-radius: 10px 10px 0px 0px;
margin-left: 60px;
margin-right: 60px;
padding-top: 60px;


}

.first_block { 

width: 1200px;
height: 250px;
margin: auto;
background: #FFFFFF;
border: 5px solid #A37846;
box-sizing: border-box;
border-radius: 10px;

 }

.fb_description {

	width: 950px;
    height: 100px;
    padding: 45px 66px 10px 106px;
	font-style: normal;
	font-weight: 300;
	font-size: 40px;
	line-height: 50px;
	text-align: center;

	color: #000000;

}


.time1 {

	width: 96px;
	height: 18px;
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	padding: 50px 0px 10px 560px;
}

.second_block {

	width: 1200px;
	height: 436px;
	background: #FFFFFF;
	border: 1px solid #9CA1A9;
	box-sizing: border-box;
	border-radius: 10px;
	margin: auto;
    margin-top: 40px;


}

.descr_big {
	display: inline-block;
	width: 640px;
	height: 436px;
	
}

.decr_little {
	display: inline-block;
	width: 550px;
	height: 436px;
	vertical-align: top;

}



.news1 {
	display: inline-block;
	width: 250px;
	height: 115px;
	margin: 0px 10px 80px 4px;
    margin-top: 20px;
    font-size: 18px;
}

.text_big { 

    height: 165px;
    padding: 30px 30px 30px 30px;
    font-size: 37px;
    color: #000000;

 }

.time2 {

 	width: 96px;
    height: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    padding: 162px 0px 30px 30px;
    color: #9CA1A9;

	}



.column_time {

	margin-top: 50px;
	color: #9CA1A9;
}

.footerstyle {


width: 1200px;
height: 450px;
margin: auto;
box-sizing: border-box;
margin-top: 40px;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.column_footer { 

	width: 210px;
	height: 200px;
	color: white;
	position: relative;

 }

.footer_list li {

margin-top: 5px;
margin-left: 60px;

}

.footer_list a {

	color: white;
}

.title_footer {

margin-bottom: 40px;
margin-top: 30px;
text-transform: uppercase;
font-size: 1rem;
text-align: center;

}


.underline {
 	height: 10px;
 	width: 1070px;
	margin: auto;
}

.copyright {

	width: 1000px;
	height: 20px;
	margin-left: 70px;
	color: white;
	
	padding-top: 40px;
	padding-left: 150px;
	letter-spacing: -0.02em
}

#telegram li {

	margin-left: 40px;
}

#our_projects li {

	margin-left: 10px;
}

#contacts li {
	margin-left: 20px;
}

#redaction {

	margin-bottom: 30px;

}

#personal_data {

margin-top: 38px;

}

#adverts li {

	margin-left: 0px;
}