@import url(reset.css);

/*вопрос 1: применение dipsplay: inline block возможно только для div но не для section?*/ 

.top {


height: 60px;
background-color: red;
border:1px solid red;

}

.head {

position: relative;
top: 20px;
left:20px;

}

.headtext {

	
	color: white;
	font-family: Helvetica;
	font-style: normal;
	
}


.allcolumns {
	
	
	text-align:center;
	font-size: 0;
	box-sizing: border-box;
	margin-top:50px;
	margin-bottom: 50px;
	
}


.columns {
	width: 400px;
	height: 800px;
	border: 5px solid #E5E000;
	box-sizing: border-box;
	border-radius: 30px;
	display:inline-block;
	vertical-align: top;
	box-sizing: border-box;
	margin-left: 50px;
	text-align:left;
	padding:20px;

  	
}



.headers {

	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 40px;

}

.textinside {	
	
	
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
	align-items: center;
	

}



.last {
	
	height: 60px;
	background-color: red;
	border:1px solid white;
	box-sizing: border-box;

	
}


.copyright {

	position: relative;
	top:20px;
	left: 10px;

}

	.lasttext {

	
	
	height: 20px;
	color: white;
	font-family: Helvetica;
	font-style: normal;

	
}

.mainpage {

	
	width: 30px;
	height: 20px;
	
	
}

a {

	color: yellow;
}
