@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');



body {

font-family: 'Yanone Kaffeesatz', sans-serif;
background: #DAD299;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #B0DAB9, #DAD299); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;

}

.myworks li {

	border: 2px solid black;
	box-sizing: border-box;
	width: 200px;
	height: 150px;
	margin-left: 0.5rem;
	padding: 2rem;
	margin-top: 0.9rem;
	list-style-type: none;
	border-radius: 1rem;
	border-color: papayawhip;
	cursor: pointer;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	font-size: 1.4rem;
	text-align: center;
	line-height: 1.5rem;
}


.myworks li:hover{

	transform: scale(1.1,1.1);
	transition: 1.5s;
}

a {

	color: royalblue;
}

.myworks {

	width: 60vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

}



