@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap');


 .redlogo {

 	width: 287px;
 	height: 82px;
 	background-color: red;
 	margin: 100px auto;

 }

 div[class="redlogo"] h1 {

 	font-family: Arial;
	font-style: italic;
	font-weight: bold;
	font-size: 60px;
	line-height: 69px;
	color: #FFFFFF;
	padding: 10px;

 }

 .time {

 	width: 270px;
 	height: 30px;
 	margin: -50px auto 50px;

 }

 div[class="time"] h2 {

 	font-family:'Space Mono', monospace;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;

 }


.main_content { 

margin: auto;


 }

 .picture {

 	width: calc(100% - 1040px);
 }


.picture img {

	float: left; 
	margin: 50px;
	
}


.description {

	padding-top:20px;
	padding-bottom:70px;
}

div[class="description"] h2 {

	font-family:'Space Mono', monospace;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 15px;

}

div[class="description"] h1 {

font-family: Space Mono;
font-style: normal;
font-weight: normal;
font-size: 25px;
padding-top:10px;

}

div[class="description"] p {

	width: 1000px;
	font-family:'Space Mono', monospace;
	font-style: normal;
	font-weight: normal;
	line-height: 30px;
	padding-top:60px;
}

#second_p {
	
	color: white;
	background-color: red;
}


.clear {

	clear: both;

}

.picturenav {

	width:65px;
	margin-left: 200px;
	margin-top:-20px;
	
}

.arrow img { 

	float:right;
	padding-top: 5px;

 }




.linkbar {


display: flex ;
flex-direction:row;
justify-content:space-around;
align-items: center;
padding-top:100px;
margin-left: 100px;
margin-right: 100px;


}

div[class="linkbar"] a {

font-family:'Space Mono', monospace;
font-style: normal;
font-weight: normal;
font-size: 1rem;
line-height: 30px;
color: #000000;

}


@media screen and (max-width: 750px) {
	
	.picture img {

	float: none; 
	margin: 0px; 
	padding-bottom:40px;
	padding-left: 150px;
	
	
	}

	div[class="description"] p {

	width: 400px;
}

	.main_content { 

	margin: auto;
	max-width: 1100px;

 }

 .linkbar {


display: flex ;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 100px;


}
	
.picture {

 	
 	margin: 0px;
 }

.picturenav {

	position: relative;
	width: 65px;
	bottom: 430px;
	padding-left: 150px;

}

.description {


	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 150px;

}

#second_p {
	
	margin-left: 150px;
}

}

@media screen and (min-width: 1400px) {

	div[class="description"] p {

	width: 100%;
	
}

.picture {

 	margin-left:400px;
 }

 .picturenav {

	width:65px;
	margin-left: 600px;
	margin-top:-20px;
	
}

}
