@import url(reset.css);


.outer {

	height: 300px;
	background-color: black;
	width: 80%;
	/*если здесь задать в % то ширина будет от макета, будет сжиматься при меньшем экране и расширяться*/
}

.inner {

	height: 100px;
	background-color: blue;
	width:70%;
	/*возьмет ширину 70% от родит блока*/
}

.round {

	width: 200px;
	height: 200px;
	background-color:orange;
	border-radius:50%;

}

.popup {

	position:fixed;
	width: 500px;
	height: 200px;
	border: 2px solid black;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

/*зачастую проценты применяются, если нужно закруглить углы как в div.round, либо чтобы добавить на страницы
всплывающее окно pop up. Причем здесь был добавлен трансформ, чтобы выровнить окно посередине экрана
т.к top 50% left 50% дает смещение всему блок, а блок осчитывает отступы всегда с левого верхнего угла

ВАЖНО Помнить что % всегда берутся от родительского  элемента*/