@import url(reset.css);


.vh {

	height: 30vh;

	/*означает блок займет 30% самого устройства
	при уменьшении будет уменшаться*/
	width: 60vw;
	/*блок будет занимать 60% ширины экрана*/

	background-color: black;

/*данные единицы изм используются часто*/

}


.vminvmax {

height: 30vmax;
width: 60vmin;
/*тогда ширина будет 60% от ширины экрана
если ширина меньше высоты, если будет наоборот
то будет наоборот*/

/*данные единицы исп редко*/
background-color: green;

}