@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Playfair+Display&family=Raleway:wght@100&display=swap');

.bodycontent {

	
	
	background: black;	
}

.logo_nav {

	min-height: 50px;
	padding: 40px 60px 40px 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.navlist li { 

display: inline;
margin-right: 10px;

 }

 .navlist:last-child {

   margin-right: 0;
 }

 .navlist a {

color: white;
visibility: visible;

 }

 .icons li {

display: inline;
margin-right: 6px;

 }

 #news {

 	color: #A37846;
 	
 }

 #lang {

 	color: white;
 	position: relative;
    bottom: 5px;
 }

 

 

.headwindow { 

width: 90vw;

display: flex;
justify-content: space-between;
background-color: white;
margin: auto;
border-radius: 10px;
border: 0.1px solid white;
box-sizing: border-box;



 }

 .currency {

 	width: 134px;
 	
 	padding: 25px 5px 20px 20px;
 	display: flex;
 	flex-direction: row;
 	justify-content: space space-between;
 }

 .currencylist {

 	padding-right: 13px;
 }

.currencylist li {

	display: inline;
	color: black;

}

.text_switcher { 


width: 290px;
padding: 20px;


 }

 .switcher li {

 	display:  inline;
 	color: #9CA1A9;
    font-size: 0.8rem;

 }

 .switcher {

 	display: flex;
    justify-content: space-between;
    align-items: center;
 }

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}




.mainsection {

width: 90vw;
margin-top: 40px;
background: #F2F2F2;
border-radius: 10px 10px 0px 0px;
margin-left: auto;
margin-right: auto;
padding-top: 60px;
padding-bottom: 40px;

}

.first_block { 

width: 80vw;

margin-left: auto;
margin-right: auto;
padding: 20px;
background: #FFFFFF;
border: 5px solid #A37846;
box-sizing: border-box;
border-radius: 10px;

 }

.fb_description {

	
   
	font-style: normal;
	font-weight: 300;
	font-size: 2.5rem;
	
	text-align: center;
	color: #000000;
	margin-bottom: 70px;

}


.time1 {

	
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	
	text-align: center;
	
}

.second_block {

	 display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    background: #FFFFFF;
    border: 1px solid #9CA1A9;
    box-sizing: border-box;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding-bottom: 60px;


}

.descr_big {
	display: flex;
    width: 500px;
    flex-direction: column;
    padding-top: 30px;
	
}

.decr_little {
	
    display: flex;
    flex-direction: row;
    width: 600px;
    flex-wrap: wrap;
    vertical-align: top;
    padding-top: 30px;
}



.news1 {

    width: 250px;
    margin: 5px;
    font-size: 1rem;
}

.text_big { 

    padding: 30px 30px 30px 30px;
    font-size: 1.5rem;
    color: #000000;


 }

.time2 {

 	 
    font-style: normal;
    font-size: 15px;
    margin-top: 100px;
    margin-left: 30px;
    color: #9CA1A9;
}

	

.column_time {

	margin-top: 40px;
	color: #9CA1A9;
   display: block;
}

.footerstyle {


width: 80vw;
margin: auto;
box-sizing: border-box;
margin-top: 40px;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.column_footer { 

	width: 210px;
	color: white;
	position: relative;

 }

.footer_list li {

margin-top: 5px;
margin-left: 60px;

}

.footer_list a {

	color: white;
}

.title_footer {

margin-bottom: 40px;
margin-top: 30px;
text-transform: uppercase;
font-size: 1rem;
text-align: center;

}


.underline {
 	
 	width: 100%;
	
   padding-top: 60px;
}

.copyright {

	
	color: white;
	padding-top: 40px;
	text-align: center;
	letter-spacing: -0.02em
}

#telegram li {

	margin-left: 40px;
}

#our_projects li {

	margin-left: 10px;
}

#contacts li {
	margin-left: 20px;
}

#redaction {

	margin-bottom: 30px;

}

#personal_data {

margin-top: 38px;

}

#adverts li {

	margin-left: 0px;
}

.hamburger-menu {
    visibility: hidden;
}

.underline img {

    width: 100%;
}

@media screen and (max-width: 1195px) {

  

.second_block {

   display: inherit;
}

.descr_big {

    display: flex;
    width: 80vw;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    margin: auto; }

.decr_little {

    display: flex;
    flex-direction: row;
    width: 80vw;
    flex-wrap: wrap;
    vertical-align: top;
    padding-top: 40px;
    margin: auto;
   
}

.news1 {

   
    margin: 20px;
   
   }

}

.hamburger-menu {
    visibility: hidden;
}



@media screen and (max-width: 800px) {

    .decr_little {

    display: flex;
    flex-direction: row;
    width: 80vw;
    
}

.second_block {

   
   display: inherit;
}

.hamburger-menu {

    visibility: visible;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .navlist {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 40px;
  left: 230px;

  width: 30px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #616161;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.navlist {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;

  width: 300px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
}

.navlist li {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.navlist li:hover {
  background-color: #CFD8DC;
}

.navlist a {

color: black;
}

#lang {
    visibility: hidden;
}

.iconsnav {

    position: absolute;
    top: 40px;
    left: 150px;
}





.switcher {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footerstyle {

    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

}



.copyright {

    width: 80vw;
    margin-left: 0px;
    padding-left: 0px;
}

.underline img {

    display: block;
    width: 100%;
}



}

@media screen and (max-width: 285px) {

    .switcher {

        flex-wrap: wrap;
    }
    
    
}
