@import url(reset.css);

.header_content { 

height: 140px;
width: 1440px;
box-sizing: border-box;

/*Хотел применить к header display:flex;
 но не разобрался как расположить текст и ссылки по разные стороны с отступами*/

 }


 .headtext {

	color:red;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	margin:40px;
	position:fixed;
	
	
 }


 .links a {

 	color:red;
 	font-family: Arial;
	font-size: 30px;
	padding-left:25px;

 }

.links {

position:fixed;
right:20px;
top:40px;

}


 .picture-text {

display:flex;
justify-content: center;
align-items: center;
background-image: url(../img/evian_origins_logo.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
width: 1440px;
height: 950px;

 }

.picture-text h1 {

font-family: Arial;
font-size: 100px;
line-height: 115px;
color:red;

}




.ourwater {

height: 700px;
width: 1440px;
display:flex;
justify-content:center;
align-items:center;

}


.textwater {

border: 3px solid #F8BFC7;
box-sizing: border-box;
border-radius: 20px;
width: 992px;
height: 350px;

}

.textwater h1 , p {

font-family: Arial;
font-size: 25px;
line-height: 29px;
display: flex;
align-items: center;
letter-spacing: 0.05em;
padding: 5px;
margin:10px;

}


 .bottels {

 	height: 900px;
 	width: 1440px;
 	display:flex;
	justify-content: space-around;
	align-items: center;
 	box-sizing: border-box;
	
	
 }


 .textforbottels{ 

	height: 200px;
 	width: 1440px;
 	display:flex;
	justify-content: space-around;
	align-items: center;
 	box-sizing: border-box;
	

  }

  .textforbottels ul {

	font-family: Arial;
	font-size: 25px;
	line-height: 29px;
	text-align:center;
	

  }

  .textwater img {

  	float:left;
  	padding:10px;
  	margin:40px;


  }

.textwater ul {

	font-family: Arial;
	font-size: 25px;
	
}

.copyright { 

width: 1440px;
height: 140px;
background-color: #F8BFC7;
display:flex;
justify-content:space-between;
align-items: center;
 
 }

 .copyright p {

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 57px;
color:white;
padding:40px;

 }

.copyright a {

	padding:40px;
	color:white;
	font-size:40px;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
}




 