@import url(reset.css);

.min {

	width: 200px;
	min-height: 300px;
	/*блок будет растягиваться вместе с контентом внутри
	но если удалить контент то высота блока будет фиксирована мин значению
	*/
	border: 1px solid red;
}

.max { 

height: 100px;
background-color:blue;
max-width:1000px;
/*при задании мин ширины, блок будет сжиматься, но растягиваться только до 1000px, 
это удобно,  если огромный монитор и необходимо оставить по бокам "уши"*/
margin:auto;


 }
